body,
html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-color: #000000;
}

#maze {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00FFFF;
}

 #end {
    position: absolute;
    bottom: 0;
    left: 0;
    width: clamp(40px, 4vw, 80px);
    height: clamp(40px, 4vw, 80px);
    background-color: #FF0000;
}

#player {
    position: absolute;
    width: clamp(20px, 4vw, 40px);
    height: clamp(20px, 4vw, 40px);
    background-color: #000080;
}

/* WALLS */
.wall {
    position: absolute;
    background-color: #000000;
    height: 4vh;
}

#wall1 {
    top: 20vh;
    left: 0;
    width: 50vw;
}

#wall2 {
    top: 60vh;
    left: 0;
    width: 10vw;
    transform: rotate(90deg);
}

#wall3 {
    top: 40vh;
    left: 30vw;
    width: 70vw;
}

#wall4 {
    top: 80vh;
    left: 0;
    width: 60vw;
}